extends layout.pug

block content 

    div.posts
        h1 List of posts
        ul.post-list
            each val in allPosts
                li.post-item
                    h2.post-item_title
                        a(href=val.posts_url)= val.posts_title  
                    p Created by #{val.user.users_username}




